.product-page {
  display: flex;
  flex-direction: column;
  background-color: var(--product-detail-bg);
}

.product-container {
  margin-top: 30px;
}

.product-preview {
  padding: 30px;

  &__list {
    display: flex;
    overflow: hidden;
  }

  &__item {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    padding-top: 92%;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  &__thumb-img {
    width: 70px;
    height: 70px;

    border: 1.5px solid #9e9da8;
    border-radius: 10px;
    opacity: 0.7;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;

    &--current {
      opacity: 1;
      border-color: #77dae6;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.product-info {
  padding: 60px;
  background: var(--product-info-bg);

  &__heading {
    margin-bottom: 30px;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;
  }
}

.product-prop {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;

  &__icon--flex-start {
    align-self: flex-start;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}
