@use "../abstracts";

.filter-wrap {
  position: relative;
  z-index: 1;
}

.filter {
  position: absolute;
  top: 56px;
  right: 0;

  padding: 30px;
  border-radius: 20px;

  background: var(--filter-form-bg);
  filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
  transition: opacity, visibility;
  transition-duration: 0.3s;

  @include abstracts.screen(xl) {
    height: calc(100vh - 100px);
    padding-bottom: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  @include abstracts.screen(sm) {
    width: 80vw;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  &__arrow {
    position: absolute;
    top: -16px;
    right: 26px;
    height: 20.25px;
    filter: var(--filter-arrow-icon-color);
  }

  &__heading,
  &__label {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__label--small {
    display: block;
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 142.857%;
  }

  &__form {
    margin-top: 30px;

    &-group {
      margin-top: 20px;

      &--inline {
        display: flex;
        gap: 30px;
      }

      &:nth-child(2) {
        padding: 10px 0;
      }
    }

    &-slider {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #d2d1d6;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 6px solid #ffb700;
        background: var(--filter-form-bg);
        translate: 0 -45%;
      }

      &::before {
        left: var(--min-value);
      }

      &::after {
        left: var(--max-value);
      }
    }

    &-text-input,
    &-select-wrap {
      border-radius: 6px;
      border: 1px solid #d2d1d6;
      background: var(--filter-form-bg);
    }

    &-text-input {
      display: flex;

      width: 334px;
      height: 44px;
      padding: 0 16px;

      overflow: hidden;

      &--small {
        width: 121px;
        height: 36px;
        padding: 0 12px;
      }

      @include abstracts.screen(sm) {
        width: 100%;
      }
    }

    &-text-input--small &-input {
      font-size: 1.4rem;
    }

    &-input {
      width: 100%;

      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      background: transparent;
      border: none;

      &::placeholder {
        font-weight: 400;
      }
    }

    &-input-icon {
      width: 24px;
      margin-left: 10px;
    }

    &-select-wrap {
      display: flex;
      padding: 5px 0;
    }

    &-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;

      min-width: var(--width, 100px);
      padding: 0 14px;

      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;
      cursor: pointer;
    }

    &-select + &-select {
      border-left: 1px solid #d2d1d6;
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 20px;
    }

    &-tag {
      padding: 6px 12px;

      color: #9e9da8;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;

      border-radius: 6px;
      background: var(--filter-form-tag-bg);
      transition: color 0.2s;

      &:hover {
        color: var(--text-color);
      }
    }
  }

  &__row {
    display: flex;
  }

  &-separate {
    width: 1px;
    margin: 0 30px;
    background-color: #eee;

    @include abstracts.screen(xl) {
      width: 100%;
      height: 1px;
      margin: 30px 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    @include abstracts.screen(xl) {
      position: sticky;
      bottom: 0;
      padding-bottom: 16px;
      background-color: var(--filter-form-bg);
    }
  }

  &__cancel,
  &__submit {
    height: 38px;
    padding: 0 10px;

    @include abstracts.screen(sm) {
      flex: 1;
    }
  }

  &__cancel {
    font-size: 1.5rem;
  }

  &__submit {
    font-size: 1.4rem;
  }

  &__content {
    @include abstracts.screen(xl) {
      flex-direction: column;
    }
  }
}
