<div class="footer__inner">
  <div class="container">
    <div class="row gy-sm-3">
      <div class="col-2 col-lg-4 col-sm-12">
        <div class="footer__column">
          <h3 class="footer__heading">SHOP</h3>
          <ul class="footer__list">
            <li><a href="#!" class="footer__link">Departments</a></li>
            <li><a href="#!" class="footer__link">Grocery</a></li>
            <li><a href="#!" class="footer__link">Beauty</a></li>
            <li><a href="#!" class="footer__link">Store Locator</a></li>
            <li><a href="#!" class="footer__link">Refer a Friend</a></li>
          </ul>
        </div>
      </div>

      <div class="col-2 col-lg-4 col-sm-12">
        <div class="footer__column">
          <h3 class="footer__heading">HELP</h3>
          <ul class="footer__list">
            <li><a href="#!" class="footer__link">Contact Us</a></li>
            <li><a href="#!" class="footer__link">FAQ</a></li>
            <li><a href="#!" class="footer__link">Accessibility</a></li>
          </ul>
        </div>
      </div>

      <div class="col-2 col-lg-4 col-sm-12">
        <div class="footer__column">
          <h3 class="footer__heading">ABOUT</h3>
          <ul class="footer__list">
            <li><a href="#!" class="footer__link">Our Story</a></li>
            <li><a href="#!" class="footer__link">Wholesale</a></li>
            <li><a href="#!" class="footer__link">Press</a></li>
            <li><a href="#!" class="footer__link">Careers</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-12">
        <div class="footer__column footer__column--last">
          <p class="footer__desc">Sign up to get 10% off your first order</p>
          <form action="#!" class="footer__form">
            <input type="text" placeholder="Your Email Address" class="footer__form-input" />
            <button class="btn btn-primary btn-rounded">Subscribe</button>
          </form>
          <div class="footer__social">
            <a href="#!" class="footer__social-link">
              <img src="./assets/icons/instagram.svg" alt="" class="footer__social-icon icon" />
            </a>
            <a href="#!" class="footer__social-link">
              <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon icon" />
            </a>
            <a href="#!" class="footer__social-link">
              <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon icon" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copyright">&copy; 2024 Grocery Mart. All Rights Reserved</p>
      <div class="footer__bottom-list">
        <p class="footer__bottom-item"><a href="#!">Terms of Service</a></p>
        <p class="footer__bottom-item"><a href="#!">Privacy Policy</a></p>
        <p class="footer__bottom-item">Do Not Sell My Information</p>
      </div>
    </div>
  </div>
</div>
